---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About">
    <h1>About Astroworld</h1>
<p>Astroworld was launched in 2018 and become one of the best Hip-hop
    albums of all time.
</p>
</Layout>
